{% extends "layout.html" %}
{% block title%}
    Create.html
{% endblock %}
{% block content %}
    <div class="container text-center">
        <div class="row align-items-center">
            <h1>
                Persona Crud
            </h1>
        </div>
    </div> 
    <div class="container text-center">
        <form class="form" method="post" action="{%url 'crud_store'%}">
            {% csrf_token %}
            <div class="form-group">
                <label for="nombre">
                    Nombre
                </label>
                <input 
                    type="text" 
                    class="form-control"
                    name="nombre"
                    placeholder="Nombre"
                >
            </div>
            <div class="form-group">
                <label for="apellido">
                    Apellido
                </label>
                <input 
                    type="text" 
                    class="form-control"
                    name="apellido"
                    placeholder="Apellido"
                >
            </div>
            <div class="form-group">
                <label for="email">
                    Correo
                </label>
                <input 
                    type="email" 
                    class="form-control"
                    name="email"
                    placeholder="Correo electrónico"
                >
            </div>
            <br/>
            <button type="submit" class="btn btn-primary">
                Enviar información
            </button>
            <br/>
            <a 
                href="{% url 'crud_index' %}"
                class="btn btn-secondary mt-1"
            >
                Regresar
            </a>
        </form>
    </div> 
{% endblock %}
